<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.electron.eventcalendar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- our Content Provider -->

        <provider
            android:name=".provider.EventProvider"
            android:authorities="xyz.electron.eventcalendar.provider"
            android:exported="true"
            android:syncable="true" />

        <service android:name=".FetchDataService" />

        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xyz.electron.eventcalendar.MainActivity" />
        </activity>
        <activity
            android:name=".SponsorsActivity"
            android:label="@string/title_activity_sponsors"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xyz.electron.eventcalendar.MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xyz.electron.eventcalendar.MainActivity" />
        </activity>

        <receiver android:name=".widget.EventCalendarWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/event_calendar_widget_info" />
        </receiver>
        <service android:name=".widget.EventCalendarRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <!--API KEYS-->
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="@string/awareness_api_key" />
        <!-- places/location declaration -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/awareness_api_key" />
        <!-- Beacon snapshots/fences declaration -->
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="@string/awareness_api_key" />
    </application>

</manifest>